* {
  font-family: 'Ubuntu', Sans-Serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: ;
  background: yellow;
  transition: 0.45s;
}
.container.active {
  filter: blur(15px);
  pointer-events: none;
}
.content {
  max-width: 320px;
  margin: auto;
  padding-top: 2rem;
}
h2 {
  margin: 0 0 0.4rem;
  color: ;
}
p {
  width: 100%;
  text-align: justify;
}
.content img {
  display: block;
  margin-top: 1rem;
  width: 100%;
  height: auto;
}
a {
  margin-top: 0.85rem;
  padding: 0.4rem 1rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #292929;
}

.pop {
  width: 330px;
  margin: auto;
}
.popup {
  position: fixed;
  width: 320px;
  background: #fff;
  padding: 1rem;
  top: 22%;
  left: 5.7%;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  transition: 0.45s;
}
.popup.active {
  opacity: 1;
  visibility: visible;
  top: 30%;
}
